html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    background-color: #1F2937;
    gap: 20px;
}

.header,
.content-1 {
    display: flex;
    width: 900px;
}

.header {
    justify-content: space-between;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

a,
.hero-subtext,
.placeholder {
    font-size: 18px;
    color: #E5E7EB;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.logo,
.hero-text {
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
}

.hero-text {
    font-size: 48px;
    font-weight: 800;
}

button {
    color: #E5E7EB;
    background-color: #3882F6;
    border: 0;
    padding: 5px 20px;
    border-radius: 5px;
}

.left,
.placeholder {
    flex: 1;

}

.placeholder {
    background-color: rgb(150, 148, 148);
    display: flex;
    justify-content: center;
    align-items: center;
}

.top,
.content-2,
.content-3,
.content-4 {
    flex: auto;
}

.content-1 {
    gap: 20px;
}

.left button {
    margin-top: 10px;
}