html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    background-color: #1F2937;
}

.header,
.content-1 {
    width: 900px;
}

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}